# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = notice.settings

# deploy1
# [deploy]
# url = http://47.74.46.169:6800/
# project = notice

# deploy2
[deploy]
url = http://47.75.161.83:6800/
project = notice